[Unit]
Description=Secure autossh tunnel to ByteLife DMZ zabbix proxy
After=network.target

[Service]
ExecStart=/usr/bin/autossh -4 -NT -o ExitOnForwardFailure=yes -M {{ autossh_port }} sshtunnel@{{ ssh_tunnel_ip }} -p {{ ssh_tunnel_port }} -i /root/.ssh/id_rsa -L 127.0.0.1:10051:{{zabbix_proxy_name}}:{{zabbix_proxy_port}} -R *:{{ hostvars[inventory_hostname].zabbix_port }}:127.0.0.1:{{ hostvars[inventory_hostname].zabbix_port }}

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
