[Unit]
Description=Secure ssh tunnel to ByteLife DMZ zabbix proxy
After=network.target

[Service]
ExecStart=/usr/bin/ssh -4 -NT -o ExitOnForwardFailure=yes -o ConnectTimeout=10 -o ServerAliveInterval=10 -o BatchMode=yes {{ ssh_tunnel_ip }} -p {{ ssh_tunnel_port }} -q -l sshtunnel -i /root/.ssh/id_rsa -L 127.0.0.1:10051:{{zabbix_proxy_name}}:{{zabbix_proxy_port}} -R *:{{ hostvars[inventory_hostname].zabbix_port }}:127.0.0.1:{{ hostvars[inventory_hostname].zabbix_port }}

RestartSec=10
Restart=always

[Install]
WantedBy=multi-user.target
